html {
  background-color: #2C2F33;
}

.body {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 37.5em) {
  .body {
    padding: 3rem;
  }
}

.alert {
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  background: cornflowerblue;
  padding: 1rem 0;
  width: 250px;
  height: 20px;
  border-radius: .375rem;
  color: white;
  font-weight: 500;
  top: 7rem;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  line-height: 20px;
  transition: 0.3s;
  z-index: 999;
}

.alert-hide{
  visibility: hidden;
  opacity: 0;
}

.alert-show {
  visibility: visible;
  opacity: 1;
  top: 8rem;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(./stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(./twinkling.png) repeat top center;
  z-index:-2;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
